/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #F0E705; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background-color: #84060F
}



/* --- ADD YOUR STYLES BELOW --- */
aside { background: #F0E705; }
header { background: #2543BD; }
footer { background: #2543BD; }
figure { background: #2EE05B; }
/* --- add your PSEUDO CLASSES below this line --- */

a:link { color: #343434; }
a:visited { color: #0a0a0a; }
a:focus { color: #151515; }
a:hover { color: #818187; }
a:active { color: #343434; }

footer a:link { color: #343434; }
footer a:visited { color: #0a0a0a; }
footer a:hover { color: #151515; }
footer a:focus { color: #818187; }
footer a:active { color: #343434; }
